@font-face {
     font-family: lcdfont;
     src: url(https://raw.githubusercontent.com/pedropaulodfr/fonts/master/clock.ttf);
}
div#calculadora{
background: #454545;
position:fixed; /* posição */
top:17px; /* alinhamento vertical */
left: 497px; /* alinhamento horizontal */
width:518px; /*largura */
height:580px; /* altura */
border-style: outset;
border-color: #708090;
border-right: none;
}
div#corpo{
position: fixed;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/corpo.png');
top: 150px;
left: 500px; 
width:400px;
height:450px; 
}
div#operacoes{
position: fixed;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/operacoes.png');
top: 150px;
left: 910px; 
width:108px;
height:450px; 
}
div#operacoesAvancadas{
position: fixed;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/operacoes.png');
top: 150px;
left: 1018px; 
width:108px;
height:447px; 
border-style: outset;
border-color: #708090;
border-left: none;
}
div#tela{
position: fixed;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/visor.png');
top: 20px;
left: 500px; 
width:518px; /* largura */
height:120px; 
}
h1#visor{
position: fixed;
background-color: rgba(255,255,255,0.3); /* cor de fundo, onde a última casa (0.7) é a opcacidade */
font-family: lcdfont;
letter-spacing:5px;
padding-left: 4px;
color: white;
top: 13px;
left: 521px;
width: 475px;
height: 60px;
}
h6#copyright{
	position:fixed;
	top:93%;
	left: 1%;
	color: white;
	font-weight: bold;
	text-shadow:-1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}
input#campo{
position: fixed;
background-color: rgba(255,255,255,0.3); /* cor de fundo, onde a última casa (0.7) é a opcacidade */
font-family:lcdfont;
letter-spacing:3px;
padding-left: 4px;
color: white;
top: 104px;
left: 521px;
width: 472px;
height: 20px;
border: none;
outline: none;
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
   font: lcdfont;
}
.mode{
	position:relative;
	background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-avancado.png');
	top: 146px;
	left: 25px;
	width: 60px;
	height: 20px;
	color: white;
	border: none;
	outline: none;
}
.mode:active{
	background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-avancado-active.png');
	transition: background .3s;
}
.mode:hover{
	color: rgba(225,225,225,.6);
	transition: color .3s;
}
.botoes-operacoes{
position: relative;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-operacao.png');
outline: none;
border:0px;
margin:2px;
top:50px;
left: 20px;
width: 70px; /* largura */
height:55px; /* altura */
font-family:Arial; 
font-size: 50px;
color: rgba(225,225,225,0.9);
cursor:pointer;
}
.botoes-operacoes:hover{
	color: rgba(225,225,225,.6);
	transition: color .3s;
}
#reset:hover{
	color: #ff6b81;
	transition: color .6s;
}
.botoes-operacoes:active{
	background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-operacao-active.png');
	transition: background .3s;
}
input#igual{
position: relative;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-igual.png');
outline: none;
border:0px;
top:53px;
left: 22px;
width: 70px; /* largura */
height:80px; /* altura */
font-family:Arial; 
font-size: 50px;
color: rgba(225,225,225,0.9);
cursor:pointer;
}
input#igual:hover{
	color: rgba(225,225,225,.6);
	transition: color .3s;
}
input#igual:active{
	background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-igual-active.png');
	transition: background .2;
}
.botoes{
position: relative;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao.png');
outline: none;
top: 50px;
margin:2px;
left: 20px;
border: 0px;
width: 114px; /* largura */
height:96px; /* altura */
font-family:Arial; 
font-size: 50px;
color: rgba(225,225,225,0.9);
cursor:pointer;
}
.botoes:hover{
	color: rgba(225,225,225,.6);
	transition: color .3s;
}
.botoes:active{
	background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-active.png');
	transition: background .2s;
}
input#zero{
position:relative;
background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-zero-hover.png');
outline: none;
top:60px;
border:0px;
left: 20px;
width: 362px; /* largura */
height:70px; /* altura */
font-family:Arial; 
font-size: 50px;
color: rgba(225,225,225,0.9);
cursor:pointer;
}
input#zero:hover{
	color: rgba(225,225,225,.6);
	transition: color .3s;
}
input#zero:active{
	background: url('http://ap.imagensbrasil.org/images/2018/02/14/botao-zero-active.png');
	transition: background .2s;
}