
	@charset "utf-8";
	div#video_player_box{width:550px; background:#000; margin:0px auto; border:ridge; border-color:#CCC}
	div#video_controls_bar{background:url(http://i.imgur.com/dK3ydMtr.jpg); padding:10px; color:#CCC; font-family:"Segoe UI Symbol";}
	div#video_controls_bar_lateral{
	background:url(http://i.imgur.com/dK3ydMtr.jpg); 
	margin:0px; 
	width:45px;
	color:#CCC; 
	font-family:"Segoe UI Symbol";
	position: absolute; 
	top: 146px; 
	left: 0px; 
	border: ridge;
	border-color: #CCC;
	border-left: none;
	}
	button#playpausebtn{
		background:url(http://ap.imagensbrasil.org/images/2017/07/01/Play879eb.png);
		border:none;	
		width:13px;
		height:16px;
		cursor:pointer;
		opacity:0.5;
	}
	button#playpausebtn:hover{opacity:1;}
	button#playpausebtn_lateral{
		background:url(http://ap.imagensbrasil.org/images/2017/07/01/Play879eb.png);
		border:none;	
		width:13px;
		height:16px;
		cursor:pointer;
		opacity:0.5;
	}
	button#playpausebtn_lateral:hover{opacity:1;}
	button#mutebtn{
		background:url(http://i66.tinypic.com/mr77yb.png);
		border:none;
		width:18px;
		height:16px;
		cursor:pointer;
		opacity:0.5;
		position: relative; 
		top: 3px; 
		left: 10px; 
		width: 18px;
	}
	button#mutebtn:hover{opacity:1;}
	button#mutebtn_lateral{
		background:url(http://i66.tinypic.com/mr77yb.png);
		border:none;
		width:18px;
		height:16px;
		cursor:pointer;
		opacity:0.5;
	}
	button#mutebtn_lateral:hover{opacity:1;}
	button#fullscreenbtn{
		background:url(http://ap.imagensbrasil.org/images/2017/07/01/Tela-Cheia5280b.png);
		border:none;
		width:18px;
		height:16px;
		cursor:pointer;
		opacity:0.5;
		position: relative; 
		top: 03px; 
		left: 508px; 
		width: 18px;
		float: left;
	}
	button#fullscreenbtn:hover{opacity:1;}
	button#fullscreenbtn_lateral{
		background:url(http://ap.imagensbrasil.org/images/2017/07/01/Tela-Cheia5280b.png);
		border:none;
		width:18px;
		height:16px;
		cursor:pointer;
		opacity:0.5;
	}
	button#fullscreenbtn_lateral:hover{opacity:1;}
	button#fixo{
		background: url(http://ap.imagensbrasil.org/images/2017/07/02/rewind-play-pause-audio-buttons-hi.png);
		cursor:pointer;
		position: fixed; 
		top: 638px; 
		left: 0px; 
		width: 74px;
		height: 20px;
	}
	button#proxVid_Cancelar{
		position: fixed; 
		top: 220px; 
		left: 48%;		
		max-width: 150px;
		max-height: 100px ;
		opacity:0.7;
		cursor:pointer;
	}
	input#volumeslider{
	position: relative; 
	top: -1px; 
	left: 8px;
	}
	input#seekslider{width:180px;}
	input#volumeslider{width:80px;}
	input[type='range']{
		-webkit-appearance: none !important;
		background:#000;
		border:#666 1px solid;
		height:4px;
	}
	input[type='range']::-webkit-slider-thumb{
		-webkit-appearance: none !important;
		background: #FFF;
		height:15px;
		width:15px;
		border-radius:100%;
		cursor:pointer;
	}
	img#imagem_tela{
		position: relative; 
		top: -250px; 
		left: 48%;		
	}
	img#carregando_video{
		position: relative; 
		top: -250px; 
		left: 48%;	
		max-width: 120px;
		max-height: 70px ;
		opacity:0.7;
	}
	img#carregando_proximo_video{
		position: fixed; 
		top: 115px; 
		left: 47%;
		max-width: 150px;
		max-height: 100px ;
		opacity:0.7;
		cursor:pointer;
	}
	img#play_prox{
		position: fixed; 
		top: 150px; 
		left: 50%;
		max-width: 30px;
		max-height: 110px ;
		opacity:0.7;
		cursor:pointer;
	}
	p#mensagem_ocultar_bar{
		font-size:11px;
		color:red;
		position: relative; 
		top: -25px; 
		left: 37%;	
	}
	p#proximoVideoText{
		position: fixed; 
		top: 85px; 
		left: 47%;
		opacity:0.7;
		cursor:auto;
		color: #FFF;
	}
