@charset "utf-8";
img#bateria{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#chimbal_pedal{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#chimbal_pedal_2{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#chimbal{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pedal_1{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pedal_2{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#splash{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pele_bumbo{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pele_caixa{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pele_tom_1{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pele_tom_2{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#pele_tom_3{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#surdo_1{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#surdo_2{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#prato_1{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#prato_2{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#conducao_1{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
img#conducao_2{
	width: 780px;
	height: 630px;
	position: fixed;
	left: 20%;
	top: 2%;
}
button#chimbal{
	border: 0px;
	background:url();
	position:fixed;
	left:295px;	
	top: 220px;
	width:130px;
	height:80px;
}
button#chimbal_pedal{
	background:url();
	border: 0px;
	position:fixed;
	left:435px;	
	top: 520px;
	width:85;
	height:60px;
}
button#caixa{
	background:url();
	border: 0px;
	position:fixed;
	left:450px;	
	top: 245px;
	width:130px;
	height:80px;
}
button#aro{
	background:url();
	border: 0px;
	position:fixed;
	left:470px;	
	top: 308px;
	width:80;
	height:10px;
}
button#bumbo{
	background:url();
	border: 0px;
	position:fixed;
	left:610px;	
	top: 295px;
	width:150px;
	height:150px;
}
button#bumbo_pedal{
	background:url();
	border: 0px;
	position:fixed;
	left:638px;	
	top: 440px;
	width:70;
	height:90px;
}
button#tom_1{
	background:url();
	border: 0px;
	position:fixed;
	left:534px;	
	top: 146px;
	width:80px;
	height:70px;
}
button#tom_2{
	border: 0px;
	background:url();
	position:fixed;
	left:626px;	
	top: 112px;
	width:80px;
	height:70px;
}
button#tom_3{
	border: 0px;
	background:url();
	position:fixed;
	left:725px;	
	top: 130px;
	width:100px;
	height:70px;
}
button#surdo_1{
	border: 0px;
	background:url();
	position:fixed;
	left:780px;	
	top: 233px;
	width:130px;
	height:65px;
}
button#surdo_2{
	border: 0px;
	background:url();
	position:fixed;
	left:855px;	
	top: 305px;
	width:180px;
	height:95px;
}
button#prato_1{
	border: 0px;
	background:url();
	position:fixed;
	left:380px;	
	top: 50px;
	width:150px;
	height:80px;
}
button#prato_2{
	border: 0px;
	background:url();
	position:fixed;
	left:550px;	
	top: 17px;
	width:150px;
	height:80px;
}
button#conducao_1{
	border: 0px;
	background:url();
	position:fixed;
	left:785px;	
	top: 20px;
	width:155px;
	height:90px;
}
button#conducao_2{
	border: 0px;
	background:url();
	position:fixed;
	left:850px;	
	top: 40px;
	width:40px;
	height:30px;
}
button#splash{
	border: 0px;
	background:url();
	position:fixed;
	left:925px;	
	top: 85px;
	width:95px;
	height:70px;
}

