@charset "utf-8";
@font-face {
     font-family: lcdfont;
     src: url('clock.ttf');
}
		div#opcoes{
		position:fixed; /* posição */
		top:0%; /* alinhamento vertical */
		left: 0%; /* alinhamento horizontal */
		width:18%; /*largura */
		height:100%; /* altura */
		background-color: rgba(128,128,128,0.7); /* cor de fundo, onde a última casa (0.7) é a opcacidade */
		font-family:Courier New; /* fonte da letra */
		font-size: 50%;
		color: #ffffff;
		border-right: solid 3px #696969; /* tipo de borda */
		line-height: 20px; /* espaçamento entre as linhas */
		}
		div#backColor{
		position: relative;
		top: 5%;
		background: url('http://myauto.com.br/wp-content/uploads/2016/10/Cinza-Escuro.jpg');
		}
		div#inverteColor{
		position: relative;
		top: 5%;
		background: url('http://myauto.com.br/wp-content/uploads/2016/10/Cinza-Escuro.jpg');
		}
		div#ocultar-mostrar-data{
		position: relative;
		top: 5%;
		background: url('http://myauto.com.br/wp-content/uploads/2016/10/Cinza-Escuro.jpg');
		}
		div#ocultar-mostrar-cursor{
		position: relative;
		top: 5%;
		background: url('http://myauto.com.br/wp-content/uploads/2016/10/Cinza-Escuro.jpg');
		}
		div#despertador{
		position: relative;
		top: 5%;
		background: url('http://myauto.com.br/wp-content/uploads/2016/10/Cinza-Escuro.jpg');
		}
		div#ajustarLCD{
		position: relative;
		top: 5%;
		background: url('http://myauto.com.br/wp-content/uploads/2016/10/Cinza-Escuro.jpg');
		}
		div#data{
		position: fixed;
		top: 56%;
		left: 41.8%;
		font-family:lcdfont;
		font-size: 90%;
		}
		h1#mostraHora{
		cursor: default;
		position: fixed;
		top: 12%;
		left: 27.5%;
		font-size: 1200%;
		font-color: #000;
		font-family:lcdfont;
		}
		h1{
		position: relative;
		top: 5%;
		left: 2%;
		cursor: pointer;
		}
		h2#mostraSemana{
		position:fixed;
		top: 62%;
		left: 48.7%;
		}
		h3#notificaAlarmetxt{
			position:fixed;
			top: 68.4%;
			left: 45%;
			font-family: lcdfont;
			font-size: 100%;
		}
		img#menuIcone{
		float:right;
		top: 0.5%;
		left:0.5%;
		width: 2%;
		height:3.5%;
		cursor: pointer;
		}
		img#imagemDespertador{
		position:fixed;
		cursor:pointer;
		top: 5%;
		left: 45%;
		width: 15%;
		height: 22%;
		}
		img#notificaAlarme{
			position:fixed;
			top: 70%;
			left: 43%;
			width: 1.5%;
			height: 2.5%;
		}
		.botoes-selecao{
		position: relative;
		left: 2%;
		}
		#menus{
		  width: 18%;
		  height: 100%;
		  left:0%;
		  top:0%;
		  position: relative;
		}
